.music-card {
  position: absolute;
  bottom: 30px;
  left: 30px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  padding: 15px 20px;

  color: white;
  font-family: Arial;
  box-shadow: 0 0 25px rgba(140, 80, 255, 0.3);
}

.music-title {
  font-size: 12px;
  opacity: 0.7;
}

.music-song {
  font-size: 14px;
  margin-bottom: 10px;
}

.music-btn {
  background: linear-gradient(45deg, #7c3aed, #3b82f6);
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.music-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(124, 58, 237, 0.6);
}
